<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>文件上传</title>
    <script src="/js/jquery-3.4.1.js"></script>
</head>
<body>
    <input id="file" type="file" value="选择文件">
    <input type="button" value="上传" onclick="uploading()">
</body>
<script>
    $(function(){
        console.log("加载事件")
        // $.ajax({
        //     url : "http://192.168.5.22:80/dataConfig/dataTable/list",
        //     type : "GET",
        //     success : function(json) {
        //         console.log("测试:"+json)
        //     },
        //     error : function(json) {
        //     }
        // });
    })
    function uploading(){
        let formData = new FormData();
        formData.append("file",$("#file")[0].files[0]);
        $.ajax({
            url : "http://localhost:8080/file/fileuploaded",
            data: formData,
            type : "POST",
            // 告诉jQuery不要去处理发送的数据，用于对data参数进行序列化处理 这里必须false
            processData : false,
            // 告诉jQuery不要去设置Content-Type请求头
            contentType : false,
            dataType:"json",
            success : function(json) {
                console.log(json)
            },
            error : function(json) {
            }
        });
    }
</script>
</html>